name: Rust CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  quality-gates:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Run Clippy (when pull request)
        if: github.event_name == 'pull_request'
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run tests
        run: cargo test